---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts" style="max-width:900px;">
  <h4>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h4>
  {% if post.image.feature %}
  <div class="thumbnail-container">
    <center>
      <a href="{{ site.github.url }}{{ post.url }}"><img class="thumb_img" src="{{ site.github.url }}/assets/img/{{ post.image.path }}/{{ post.image.feature }}"></a>
    </center>
  </div>
  {% endif %}
  <p>
    {{ post.brief | strip_html | truncate: 128 }} <a href="{{ site.github.url }}{{ post.url }}">Read more...</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>Written on {{ post.date | date_to_string
      }}</span>
  </p>
</div>
{% endfor %}

<center>
  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span>{{ page }}</span>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</center>