---
layout: default
title: Home
---

<div class="home">
  <!-- 置顶文章 -->
  {% if 1 == paginator.page %}

  {% for post in site.posts %}
  {% if post.top==true %}

  <div class="panel panel-default">
    {% if post.image.feature %}
    <a href="{{ site.github.url }}{{ post.url }}"><img class="thumb" src="{{ site.github.url }}/assets/img/{{ post.image.path }}/{{ post.image.feature }}"></a>
    {% endif %}
    <div class="panel-body">
      <img src="{{ site.github.url }}/assets/img/ui/ui_top.png">
      <a class="title_link" href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      <span class="post-meta">
        {{ post.brief | markdownify | truncate: 128 }} <a href="{{ site.github.url }}{{ post.url }}">Read more...</a>
      </span>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>
        Written on {{ post.date | date_to_string }}
      </span>
    </div>


    {% endif %}
    {% endfor %}

    {% endif %}
  </div>

  <!-- 非置顶文章 -->
  {% for post in paginator.posts %}
  {% if post.top!=true %}

  <div class="panel panel-default">
    {% if post.image.feature %}
    <a href="{{ site.github.url }}{{ post.url }}"><img class="thumb" src="{{ site.github.url }}/assets/img/{{ post.image.path }}/{{ post.image.feature }}"></a>
    {% endif %}
    <div class="panel-body">
      <a class="title_link" href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      <span class="post-meta">
        {{ post.brief | markdownify | truncate: 128 }} <a href="{{ site.github.url }}{{ post.url }}">Read more...</a>
      </span>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>
        Written on {{ post.date | date_to_string }}
      </span>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>
</div>

<center>
  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span>{{ page }}</span>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</center>