<footer class="footer">

  <style>
    .img_banner {
      width: 100%;
      vertical-align: middle;
    }
  </style>
  <img class="img_banner" src="{{ site.github.url }}/assets/img/banner.jpg">

  {% for item in site.data.settings.social %}
  <a href="{{ item.link }}" target="_blank">
    <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
  </a>
  {% endfor %}
  <div class="post-date">
    <a href="{{ site.github.url }}/index.html">Home · {{ site.data.settings.title }} by {{ site.data.authors.primary.name }}</a>
  </div>
</footer>