<footer class="footer">

  <style>
    .img_banner {
      width: 100%;
      vertical-align: middle;
    }
  </style>
  <img class="img_banner" src="{{ site.github.url }}/assets/img/ui/banner.jpg">

  <!--
  {% for item in site.data.settings.social %}
  <a href="{{ item.link }}" target="_blank">
    <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
  </a>
  {% endfor %}
  -->
  
  <!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMjMzNS84ODk2">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
  
  <div class="post-date">
    <a href="{{ site.github.url }}/index.html">Home · {{ site.data.settings.title }} by {{ site.data.authors.primary.name }}</a>
  </div>
</footer>
