<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/reading.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/rss-feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css//font-awesome.min.css">
  <link rel="icon" href="/favicon.ico">

  <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c3709a8b8c6b1e793f1d1ba9e08289e7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>