<div id="mountNode"></div>
<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.4.1/dist/g2.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.1/dist/data-set.min.js"></script>
<script>

  //-- 自定义 shape, 支持图片形式的气泡
  var Shape = G2.Shape;
  Shape.registerShape('point', 'logo', {
    drawShape: function drawShape(cfg, container) {
      console.log(cfg);

      cfg.points = this.parsePoints(cfg.points);
      var coord = this._coord;
      container.addShape('line', {
        attrs: {
          x1: cfg.points[0].x,
          y1: cfg.points[0].y,
          x2: cfg.points[0].x,
          y2: coord.start.y,
          stroke: '#ccc',
          lineWidth: 2,
          lineDash: [4, 2]
        }
      });

      var h = 32;
      var w = h * 3;
      return container.addShape('image', {
        attrs: {
          x: cfg.points[0].x - w * 0.5,
          y: cfg.points[0].y - h,
          width: w,
          height: h,
          img: cfg.shape[1]
        }
      });
    }
  });

  //-- resources
  var logoMap = {
    'OpenGL': '/assets/img/opengl/OpenGL_100px_June16.png',
    'OpenGL ES': '/assets/img/opengl/OpenGL-ES_100px_May16.png',
    'WebGL': '/assets/img/opengl/WebGL_100px_June16.png',
  };

  //-- render bubble chart
  function renderG2Chart(data) {
    var chart = new G2.Chart({
      container: 'mountNode',
      forceFit: true,
      height: 512
    });

    chart.source(data);
    chart.legend(false);
    chart.axis('version', false);
    chart.axis('date', {
      type: 'timeCat',
      line: {
        lineWidth: 2, // 设置线的宽度
      },
      subTickCount: 5,
      subTickLine: {
        length: 3,
        stroke: '#545454',
        lineWidth: 1
      },
      tickLine: {
        length: 5,
        lineWidth: 2,
        stroke: '#444444'
      }
    });

    chart.point().position(['date', 'version']).shape('api', function (api) {
      return ['logo', logoMap[api]]; // 根据具体的字段指定 shape
    }).label('version', {
      offset: -12,
      textStyle: {
        fontSize: 16 // 文本大小
      }
    }).tooltip('api*version*date*features');
    chart.render();
  }

  //-- run
  $.getJSON('/assets/data/gl-version.json', function (data) {
    renderG2Chart(data);
  });

</script>