---
layout: reading
title: Writing
---

<div class="home">
  <div class="row pack">
    {% for post in site.posts %}
    <div class="col-md-3 card">
      <div class="panel panel-default">

        <!-- show thumb image -->

        <a href="{{ site.github.url }}{{ post.url }}" class="index-anchor">
          {% if post.image.feature %}
          <img class="thumb" src="{{ site.github.url }}/assets/img/{{ post.image.path }}/{{ post.image.feature }}">
          {% else %}
          <img class="thumb" src="{{site.baseurl}}/assets/img/default.png" alt="{{site.title}}">
          {% endif %}
        </a>

        <!-- show title & date -->
        <div class="panel-body">
          <h3 class="panel-title pull-left">{{ post.title}}</h3><br>

          <span class="post-meta pull-left">
            {{ post.author | strip_html | strip_newlines | truncate: 180 }}
          </span>
          <span class="post-meta pull-right">
            <small>
              {{ post.date | date: "%b %-d, %Y" }}
            </small>
          </span>
        </div>

        <!-- show brief -->
        {% if post.brief != blank %}
        <div class="panel-body">
          <small>
            {{ post.brief | markdownify | truncate: 60  }}
          </small>
        </div>
        {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
</div>